body{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 81%;
    margin: 50px 9.5%;
    display:inline-flex;

}
#tablaa{
    text-align: center;
    border-collapse: collapse  ;
    width: 100%;
    
}
td,th{
    padding: 12px ;
}
thead{
    color: white;
    background-color: #246355;
    border-bottom: solid 3px #0f362d;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #2D8572;
    color: #B9D6D0;
}
.Info_Selec{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #2D8572;
}
.Users-tabla{
    width: 100%;
    margin:auto
}
