body{
    margin: 0;
    padding: 0;
}
.conten{
    width: 81%;
    margin: 50px 9.5%;
    display:inline-flex;
    
}
#tablab{
    text-align: center;
    border-collapse: collapse  ;
    margin-left: 1%;
    width: 100%;
    
}
td,th{
    padding: 12px ;
}
thead{
    color: white;
    background-color: #246355;
    border-bottom: solid 3px #0f362d;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #2D8572;
    color: #B9D6D0;
}
.Info_Selec{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 330px;
    text-align: center;
    background-color: #2D8572;
}
.Users-tabla{
    width: 59%;

}
.evaluacion{
    margin-left: 1em;
}
#Coment_admin{
    resize: none;
}
.Contenido_ConIzq{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px 0;
    background-color: #6EA69A;
}
#Enviar{
    width: 80%;
    margin:30px 90px;
    padding: 15px;
    border-radius: 10px;
    background-color: #2D8572;
    color: white;
}