.conten{
    width: 400px;
    margin: 30px auto;
}
.formulario{
    padding: 15px;
    border: 2px #006DAA solid ;
    border-radius: 10px;
    width: 400px;
}
.formulario h4{
    font-size: 25px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.introForm{
    width: 340px;   
    text-align: center;
    margin: 10px auto;
}
.formulario form{
    padding: 0 40px;
}
form .userques{
    position: relative;
    margin: 30px 0;
    border-bottom: 1px solid silver;
}
div select{
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
}
.userques input{
    width: 100%;
    padding: 0 5%;
    height: 40px;
    border: none;
    background: none;
}
.save{
    background-color: #37c5db;
    padding: 25px;
    text-align: center ;
    border-radius: 25px;
    cursor: pointer;
}
.save a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
